[submodule "InkscapeLaserGCode"]
	path = inkscape_LaserGCode2
	url = https://github.com/dapperfu/InkscapeLaserGCode.git
[submodule "inkscape_HersheyText"]
	path = inkscape_HersheyText
	url = https://github.com/dapperfu/inkscape_HersheyText.git
[submodule "inkscape_HatchFill"]
	path = inkscape_HatchFill
	url = https://github.com/dapperfu/inkscape_HatchFill.git
